

# Servidor
PORT=3000
NODE_ENV=development

# Segurança JWT
SECRET_KEY=****
JWT_EXPIRES_IN=****

# Banco de dados
DB_USER=****
DB_PASSWORD=****
DB_NAME=****
DB_HOST=****

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# CORS - domínio do seu frontend
ALLOWED_ORIGIN=http://localhost:5173